{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>RRunningStat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Contrail+One&family=Libre+Barcode+39+Text&family=Noto+Sans+Buhid&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
          <div class="container">
              <h1><a href="/">RunningStat</a></h1>
              <p>Bienvenue sur cette page internet !! 
                Si vous êtes ici c'est que vous vous surement poser les questions ou trouver mes résultats de courses,
                qui a gagné celle que j'ai faite, quelle catégorie a été la plus rapide... 
                Et bien rassurez-vous, vous êtes au bon endroit !!!
                En vous attardant sur ce site, vous serez tout sur les derniers résultats des courses qui sillone la France.</p>
          </div>
        </header>

        <main class="container">
            <div class="row mb-3">
                <div class="col-md-6"> <!-- Utilisation de col-md-6 pour les écrans moyens -->
                    <div class="search-container">
                        <div class="row">
                            <div class="col"> <!-- Utilisation de col pour que le contenu s'adapte automatiquement -->
                                <div class="search-box">
                                    <div class="p-3">
                                        <div class="inline-title">
                                            <h3>Chercher un coureur</h3>
                                        </div>
                                        <form method="post" action="{% url 'search_by_name' %}">
                                            {% csrf_token %}
                                            <input type="text" name="name" id="search" class="form-control">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div class="col-md-6"> <!-- Utilisation de col-md-6 pour les écrans moyens -->
                    <div class="search-container">
                        <div class="row">
                            <div class="col"> <!-- Utilisation de col pour que le contenu s'adapte automatiquement -->
                                <div class="search-box">
                                    <div class="p-3">
                                        <div class="inline-title">
                                            <h3>Choisir une categorie</h3>
                                        </div>
                                        <form id="categoryForm" method="post" action="{% url 'calculate_averages' %}">
                                            {% csrf_token %}
                                            <select id="categorySelect" name="selected_col4_value" class="form-select" title="Sélectionnez une catégorie">
                                                {% for category in categories %}
                                                    <option value="{{ category }}">{{ category }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div>   
            
            <div id="result" class="text-center"></div>
            
            <div class="row">
                <div class="col" style="background-color: red; border-radius: 10px; margin-bottom: 20px;">
                {% block content %}
                {% endblock %}
                </div>
            </div> 
        
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var categorySelect = document.getElementById('categorySelect');
                    var resultDiv = document.getElementById('result');
                
                    categorySelect.addEventListener('change', function() {
                        var selectedCategory = categorySelect.value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/calculate_averages/', true); // Utilisation de l'URL statique
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                
                        // Ajouter le jeton CSRF aux en-têtes de la requête
                        var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                        xhr.setRequestHeader("X-CSRFToken", csrfToken);
                
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200) {
                                    // Afficher la réponse JSON renvoyée
                                    var responseData = JSON.parse(xhr.responseText);
                                    resultDiv.innerHTML = ""; // Nettoyer le contenu précédent
                                    // Changer l'image en fonction de la catégorie sélectionnée
                                    var imgSrc = "/static/css/css/" + selectedCategory + "1.png"; // ou l'extension de votre image
                                    var imgSrc2 = "/static/css/css/" + selectedCategory + "2.png";
                                    resultDiv.innerHTML += '<div class="row"><div class="col"><img src="' + imgSrc + '" alt="' + selectedCategory + '" class="img-fluid"></div><div class="col"><img src="' + imgSrc2 + '" alt="' + selectedCategory + '" class="img-fluid"></div></div>';
                                } else {
                                    // Afficher une erreur en cas de problème avec la requête
                                    resultDiv.innerHTML = '<p>Erreur : Impossible de calculer la moyenne de vitesse.</p>';
                                }
                            }
                        };
                        xhr.send('selected_col4_value=' + selectedCategory);
                    });
                
                    var searchForm = document.getElementById('searchForm');
                    searchForm.addEventListener('submit', function(event) {
                        event.preventDefault();
                        var formData = new FormData(searchForm);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/search_by_name/', true); // Utilisation de l'URL statique
                        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                        xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200) {
                                    resultDiv.innerHTML = xhr.responseText;
                                } else {
                                    resultDiv.innerHTML = '<p>Erreur : Impossible d\'effectuer la recherche.</p>';
                                }
                            }
                        };
                        xhr.send(formData);
                    });
                });                                                                
            </script>                                         
        </main>    
    </body>
</html>