{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <div class="post-content">
            <div class="title-banner">
                <p class="vertical-text">{{ post.description }}</p>
            </div>
            <div class="image-container">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Image du post" width="800" height="450">
                {% endif %}
            </div>
        </div>
        {% if post.csv_file %}
            <div class="csv-search">
                <h3>Rechercher dans le fichier CSV associe :</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    <label for="name">Entrez un nom :</label>
                    <input type="text" name="name" id="name">
                    <button type="submit">Rechercher</button>
                </form>

                {% if filtered_data %}
                    <h3>Resultats de la recherche pour "{{ name }}" :</h3>
                    <ul>
                        {% for row in filtered_data %}
                            <li>{{ row }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    </article>
{% endblock %}

