.page-header {
    background-image: url('affiche.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    font-family: 'Libre Barcode 39 Text', system-ui;
    color: #8000006a;
    font-size: 150pt;
    text-decoration: none;
    -webkit-text-stroke-width: 2.2px; 
    -webkit-text-stroke-color: #000000;
}

.page-header p {
    font-family: 'Noto Sans Buhid', system-ui;
    color: #000000;
    font-size: 18pt;
    text-decoration: none;
}

.page-header h2 a,
.page-header h2 a:visited,
.page-header h2 a:active {
    color: #0275a79c;
    font-size: 20pt;
    text-decoration: none;
}

/*
    color: #ef020233;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
h1 {
    font-family: 'Honk', system-ui;
}
*/

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

/*
.post h2 a,
.post h2 a:visited,
.post h2 a:active {
    font-family: 'Libre Barcode 39 Text', system-ui;
    background-clip: text;
    background-image: url('affiche.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}
*/

.post h2 a,
.post h2 a:visited,
.post h2 a:active {
    font-family: 'Noto Sans Buhid', system-ui;
    color: #ffffff; 
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}

.post p {
    font-family: 'Noto Sans Buhid', system-ui;
    color: #ffffff;
    font-size: 16pt;
    text-decoration: none;
}

/*
.col h2 a,
.col h2 a:visited,
.col h2 a:active {
    font-family: 'Libre Barcode 39 Text', system-ui;
    background-clip: text;
    background-image: url('affiche.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}

h2 {
    font-family: 'Libre Barcode 39 Text', system-ui;
    background-clip: text;
    background-image: url('affiche.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
}
*/

.col h2 a,
.col h2 a:visited,
.col h2 a:active {
    font-family: 'Noto Sans Buhid', system-ui;
    color: #ffffff; 
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}

h2 {
    font-family: 'Noto Sans Buhid', system-ui;
    color: #ffffff; 
    font-size: 50pt;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}


.post > .date,
.post > .actions {
    float: right;
}

.post-content {
    display: flex;
}

.title-banner {
    width: 500px; 
    background-color: #ffffff00;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid rgb(134, 0, 0);
}

.vertical-text {
    color: #000000; 
    font-size: 15px; 
    padding: 10px; 
    width: calc(100% - 20px);
}

.image-container {
    flex-grow: 1; 
    padding-left: 10px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.post-image-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.post-image {
    max-width: 100%;
    height: auto;
}

.search-container {
    display: flex;
    background-color: #800000d4;
    padding: 20px;
    border-radius: 10px;
}

.inline-title h3 {
    color: #ffffff;
    font-size: 20pt;
    display: inline;
}

.table-header th {
    color: #800000d4; 
}

.table-row td {
    color: #800000d4; 
}

.table-row {
    border-bottom: 1px solid #800000d4; 
}
