.page-header {
    background-color: #00c2a893;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    font-family: 'Lobster';
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

p {
    color: #ffffff;
    font-size: 14pt;
    text-decoration: none;
}

body {
    padding-left: 15px;
}